[submodule ".vim/pack/gabriel/start/ultisnips"]
	path = .vim/pack/gabriel/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/gabriel/start/supertab"]
	path = .vim/pack/gabriel/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/pack/gabriel/start/vim-fugitive"]
	path = .vim/pack/gabriel/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/gabriel/start/vim-airline"]
	path = .vim/pack/gabriel/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/gabriel/start/youcompleteme"]
	path = .vim/pack/gabriel/start/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/pack/gabriel/start/vim-snippets"]
	path = .vim/pack/gabriel/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".tmux-config"]
	path = .tmux-config
	url = https://github.com/samoshkin/tmux-config.git
[submodule ".vim/pack/gabriel/start/nerdtree"]
	path = .vim/pack/gabriel/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule ".vim/pack/gabriel/start/splitjoin"]
	path = .vim/pack/gabriel/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule ".vim/pack/gabriel/start/vim-commentary"]
	path = .vim/pack/gabriel/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/gabriel/start/vim-gitgutter"]
	path = .vim/pack/gabriel/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule ".vim/pack/gabriel/start/tagbar"]
	path = .vim/pack/gabriel/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule ".vim/pack/gabriel/start/tabular"]
	path = .vim/pack/gabriel/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule ".vim/pack/gabriel/start/ctrlp"]
	path = .vim/pack/gabriel/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/gabriel/start/synstastic"]
	path = .vim/pack/gabriel/start/synstastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/gabriel/start/coc.nvim"]
	path = .vim/pack/gabriel/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
